<div class="header">
    
  <h1>CODESHOP</h1>
    
  <a routerLink="/carrinho/">
    <img src="https://svgsilh.com/svg/294547.svg" width="60px" height="60" alt="ICONE CARRINHO">
  </a>


  <a routerLink="/historico/">
    <img src="https://png2.kisspng.com/sh/5a2e4fbc7439444408d1adb04040b081/L0KzQYm3U8E6N5R6iZH0aYP2gLBuTfNwdaF6jNd7LXnmf7B6Tfhqe6V0ius2dD30PcTCkCRmdaQygdDsLXnmf7Btif5lbaMyet5qY3uweLr6lP9zgV5ue9H3LUXkcoGAUsZmPpI5T6o7Lke5R4O3VcA1OWY3Sac6M0C6QIW6VcMveJ9s/kisspng-computer-icons-history-t-q-systems-inc-iconfinder-black-history-icon-5ab0726e6a4782.7672050415215130704353.png" width="60" height="60" alt="ICONE CONTA">
  </a>

</div>