<ul>
    <a href="https://baldochi.unifei.edu.br/COM222/trabfinal/imagens/{{livro.ISBN}}.01.LZZZZZZZ.jpg">
        <img src="https://baldochi.unifei.edu.br/COM222/trabfinal/imagens/{{livro.ISBN}}.01.MZZZZZZZ.jpg" alt="Imagem não encontrada.">
    </a>
    <li> {{livro.CategoryID}} </li>
    <li> {{livro.CategoryName}} </li>
    <li> {{livro.ISBN}} </li>
    <li> {{livro.title}} </li>
    <li innerHtml="{{livro.description}}" >  </li>
    <li> {{livro.price}} </li>
    <li> {{livro.publisher}} </li>
    <li> {{livro.pubdate}} </li>
    <li> {{livro.edition}} </li>
    <li> {{livro.pages}} </li>

    <hr>
</ul>
<ul *ngFor="let autor of autores">
    <li> {{autor.AuthorID}} </li>
    <li> {{autor.nameF}} </li>
    <li> {{autor.nameL}} </li>
</ul>