<h1>

  Itens no Carrinho:
</h1>

<button class="btn btn-warning" (click)="limparCarrinho()">Limpar Carrinho</button>
<div *ngFor="let item of carrinho">

  {{item.title}}
  <br>
  {{item.price}}
  <br>
  <button class="btn btn-danger" (click)="remove(item.ISBN)"> Remover </button>
  {{item.qtd}}
  <button class="btn btn-primary" (click)="add(item.ISBN)"> Adicionar </button>
  <hr>
</div>

<hr>
<h2>
  <b>Subtotal:</b> {{subtotal}}
</h2>
<h2>
  <b> 

    Frete: {{frete}}
  </b>
</h2>
<h2>
  <b>
    Total: {{total}}
    </b>
</h2>


<form>
  <input name="email" type="email" [formControl]="email">
  {{msgErro}}
  <button class="btn btn-success" (click)="checkout()" [disabled]="!email.valid" type="submit"> Checkout </button>
</form>