/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

$tamanhoMenu: 250px;
$tamanhoHeader: 100px;

.menu{
    position: fixed;
    max-height: calc(100vh - 75px);
    min-height: 100%;
    overflow: auto;
    width: $tamanhoMenu;
    margin-top: $tamanhoHeader;
    z-index: 4;
    background: red;
}


.header{

    position: fixed;
    height: $tamanhoHeader;
    width: 100%;
    z-index: 4;
    background: blue;
    
}

.content{
    padding-top: $tamanhoHeader + 50px;
    margin-left: $tamanhoMenu;
}